section#output {
  border-radius: 25%;
  border: solid;
  height: 54px;
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: 40px;
  padding: 30px;
}
section#input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
button {
  aspect-ratio: 1;
  width: 22%;
  padding: 30px;
  font-size: 40px;
  border-radius: 50%;
  background-color: aquamarine;
}
#b-r {
  color: rgb(red, 0, 0);
}
#b-g {
  color: rgb(0, green, 0);
}
#b-b {
  color: rgb(0, 0, blue);
}
#input > button {
  padding: 25px;
}
.calculater {
  max-width: 520px;
  margin-inline: auto;
  border: 5px solid white;
  background-color: blue;
}
.function {
  background-color: blueviolet;
}
.clr {
  width: 525px;
  height: 100px;
  border-radius: 50px;
  background-color: black;
  color: white;
}
